<div class="wallet-actions">
  <ul>
    <li>
      <a href="">
        <img src="../../../assets/images/icon-send.svg" alt="Send">
        Send
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/icon-receive.svg" alt="Receive">
        Receive
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/icon-wallet.svg" alt="Wallets">
        Wallets
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../assets/images/icon-settings.svg" alt="">
        Settings
      </a>
    </li>
  </ul>
</div>