<div class="wallet-actions">
  <a class="action" (click)="sendClick()">
    <img src="./assets/images/icon-send.svg" alt="Send">
    Send
  </a>
  <a class="action">
    <img src="./assets/images/icon-receive.svg" alt="Receive">
    Receive
  </a>
  <a class="action" (click)="navigate('/wallets')">
    <img src="./assets/images/icon-wallet.svg" alt="Wallets">
    Wallets
  </a>
  <a class="action" (click)="navigate('/settings')">
    <img src="./assets/images/icon-settings.svg" alt="">
    Settings
  </a>
</div>