<div class="container-fluid footer">
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <li class="list-inline-item">
          Connected: {{ (listening$ | async) || false }}
        </li>
        <li class="list-inline-item">
          Peers: {{ (peerCount$ | async) || 0 }}
        </li>
        <li class="list-inline-item">
          Block height: {{ (blockNumber$ | async) || 0 }}
        </li>
      </ul>
    </div>
    <div class="col text-right">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a (click)="viewLogs()">[View Logs]</a>
        </li>
      </ul>
    </div>
  </div>
</div>