<div class="container-fluid footer">
  <div class="row">
    <div class="col">
      <ul class="list-inline">
        <li class="list-inline-item">
          Connected: True
        </li>
        <li class="list-inline-item">
          Peers: 0
        </li>
        <li class="list-inline-item">
          Block height: 21343
        </li>
      </ul>
    </div>
    <div class="col text-right">
      <ul class="list-inline">
        <li class="list-inline-item">
          [View Logs]
        </li>
      </ul>
    </div>
  </div>
</div>