<div class="container">
  <div class="row foo">
    <div class="col">
      <div class="wallet-values-actions">
        <div class="total-wallets-value">
          {{ allWalletsBalance || 0 }}
        </div>
      </div>
    </div>
    <div class="col">
      <div class="wallet-actions">
        <a href="#" class="action send-arrow">
          <img src="../../../assets/images/icons/icon-sent.svg" alt="Send"> Send
        </a>
        <a href="#" class="action receive-arrow">
          <img src="../../../assets/images/icons/icon-received.svg" alt="Receive"> Receive
        </a>
        <a href="#" class="action">
          <img src="../../../assets/images/icons/icon-wallets.svg" alt="Wallets"> Wallets
        </a>
        <a href="#" class="action">
          <img src="../../../assets/images/icons/icon-settings.svg" alt=""> Settings
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="wallet-sorting-operations">
        <div class="new-wallet">
          <a href="#" (click)="openModal(createWalletModal)">
            <span>
              <img src="../../../assets/images/icons/icon-new-wallet.svg" alt="new-wallet"> New Wallet</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" *ngIf="loading"></div> -->
  <div class="row" *ngIf="wallets">
    <div class="col">
      <div class="row" *ngFor="let wallet of wallets">
        <div class="col">
          <div class="wallet-row">
            <div class="wallet-square">
              <div class="wallet-icon">
                <img src="../../../assets/images/icons/icon-wallet.svg" alt="wallet">
              </div>
            </div>
            <div class="wallet-detail">
              <div class="wallet-name">
                {{ wallet.name }}
              </div>
              <div class="wallet-address">
                {{ wallet._id || wallet.address }}
              </div>
            </div>
            <div class="wallet-right-control">
              <button id="wallet-context" [popover]="deleteWalletContextButton" [popoverContext]="{ wallet: wallet }" placement="left"
                [outsideClick]="true">
                <div class="wallet-ellipsis">
                  <div class="wallet-ellipsis-icon">
                    <img src="../../../assets/images/icons/icon-ellipsis.svg" alt="options">
                  </div>
                </div>
              </button>
              <div class="wallet-qr-small">
                <div class="wallet-qr-icon">
                  <img src="../../../assets/images/icons/icon-qr-white.svg" alt="qr-code">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- template for create wallet modal -->
<ng-template #createWalletModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create Wallet</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="walletForm" (ngSubmit)="createWallet()">
      <div class="form-group">
        <label for="wallet-name">Wallet Name</label>
        <input type="text" formControlName="name" class="form-control" id="wallet-name" aria-describedby="nameHelp" placeholder="Enter Wallet Name">
        <small id="nameHelp" class="form-text text-muted">Wallet name will serve as an alias or a way to identify it. Example: 'Primary Wallet'</small>
      </div>
      <div class="form-group">
        <label for="passphrase">Passphrase</label>
        <input type="password" formControlName="passphrase" class="form-control" id="passphrase" placeholder="Passphrase">
      </div>
      <div class="form-group">
        <label for="confirm-passphrase">Confirm Passphrase</label>
        <input type="password" formControlName="confirmPassphrase" class="form-control" id="confirm-passphrase" placeholder="Confirm Passphrase">
        <small id="passphraseWarning" *ngIf="walletForm.hasError('passphraseMatch')" class="form-text text-danger">Passphrase and confirmation must both match.</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="walletForm.pristine || walletForm.invalid">Create</button>
    </form>
  </div>
</ng-template>

<!-- template for delete wallet context menu button -->
<ng-template #deleteWalletContextButton let-wallet="wallet">
  <a href="#" (click)="backupWalletReminder(wallet, deleteWalletConfirmModal)" style="text-decoration: none;">
    Delete
  </a>
</ng-template>

<!-- delete wallet confirm modal -->
<ng-template #deleteWalletConfirmModal let-wallet="wallet">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Backup Wallet Reminder</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      It is recommended that you backup your wallet before deleting, would you like to do this?
    </p>
    <button type="button" class="btn btn-primary" (click)="backupWallet(modalRef.content.wallet)">Backup</button>
    <button type="button" class="btn btn-danger" (click)="deleteWallet(modalRef.content.wallet)">Delete</button>
  </div>
</ng-template>