.send-transaction {
    color: #fff;

    .form-input {
        border: 0;
        background: transparent;
        font-weight: 200;
        color: #fff;
        outline: 0;

        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.6);
        }

        // removes up/down arrows for number inputs
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
          -webkit-appearance: none;
          margin: 0; 
        }
    }

    > .amount {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 12px 14px;
        display: flex;
        align-items: baseline;

        > .value {
            font-size: 36px;
            flex-grow: 1;
        }

        > .unit-badge {
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 12px;
            font-size: 12px;
            font-weight: 400;
            padding: 0 6px;
            height: 18px;
        }
    }

    > .transaction-field {
        display: flex;
        font-weight: 200;
        margin-top: 2px;
        
        > .left-column, > .right-column {
            padding: 4px 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        
        > .left-column {
            flex: 0 1 100px;
        }
        
        > .right-column {
            font-weight: 300;      
            margin-left: 2px;
            flex: 1 1 auto;
        }
        
    }

    > .from, .to, .data {
        font-weight: 600;
        font-size: 15px;

        > .left-column {
            padding: 17px 14px;
        }

        > .left-column, > .right-column {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    > .gas-limit, .gas-price, .network-fee {
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;

        > .left-column {
            padding: 7px 14px;
        }

        > .left-column, > .right-column {
            background-color: rgba(0, 0, 0, 0.2);
        }
    }
}